// Home css stylesheet

@use "../globals/" as g;

#home {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  .home-container {
    height: auto;
    width: clamp(300px, 90%, 1000px);

    @include g.breakpoint-up(tablet) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .h-title {
      color: var(--blue-2);
      @include g.header-02;
      padding-bottom: 1rem;
    }
    .professions-container {
      height: 2rem;
      overflow: hidden;
      position: relative;
      .professions {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        transition: all 150ms ease;
        // This section still needs to be fleshed out a bit more ===============
        animation: slider infinite 4000ms;

        @include g.sub-header-01;
        color: var(--blue-4);
        li {
          list-style: none;
          height: 1.8rem;
        }

        @keyframes slider {
          0% {
            transform: translateY(0);
          }
          100% {
            transform: translateY(-1.8rem);
          }
        }
      }
    }
    .h-body-copy {
      font-family: "Comfortaa", cursive;
      @include g.body-01;
      color: var(--darkgrey-00);
      padding: 2rem 0;
      @include g.breakpoint-down(tablet) {
        @include g.body-02;
      }
      @include g.breakpoint-down(mobile) {
        @include g.body-03;
      }
    }
    .h-buttons {
      display: flex;
      gap: 2rem;
      .btn {
        padding: 1.5rem 3rem;
        border-radius: 50vw;
        background-color: var(--accent);
        border: none;
        color: var(--white);
        @include g.sub-header-03;
        @include g.primary-cta;

        &:last-child {
          @include g.secondary-cta;
        }
      }
      @include g.breakpoint-down(tablet) {
        .btn {
          font-size: 1.6rem;
        }
      }
      @include g.breakpoint-down(mobile) {
        flex-direction: column;
        .btn {
          width: 100%;
          font-size: 1.4rem;
        }
      }
    }
    .h-icons {
      display: flex;
      gap: 2rem;
      padding-top: 2rem;
      svg {
        width: 3rem;
        aspect-ratio: 1/1;
        color: var(--blue-2);
        transition: all 150ms ease;

        &:hover {
          color: var(--blue-4);
        }
        path {
          fill: currentColor;
        }
      }
    }
  }
}
