// Home css stylesheet

@import "../globals";

#home {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  .home-container {
    height: auto;
    width: clamp(300px, 90%, 1000px);
    .h-title {
      @include header-02;
      color: var(--darkgrey-01);
      padding-bottom: 1rem;
    }
    .professions-container {
      height: 2rem;
      overflow: hidden;
      position: relative;
      .professions {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        @include sub-header-02;
        color: var(--accent);
      }
    }
    .h-body-copy {
      @include body-01;
      color: var(--darkgrey-00);
      padding: 2rem 0;
    }
    .h-buttons {
      display: flex;
      gap: 2rem;
      .btn {
        padding: 1.5rem 3rem;
        border-radius: 0.2rem;
        border: solid 0.2rem var(--accent);
        color: var(--darkgrey-01);
        @include body-03;
      }
    }
    .h-icons {
      display: flex;
      gap: 2rem;
      padding-top: 2rem;
      .icons {
        width: 2rem;
        aspect-ratio: 1/1;
      }
    }
  }
}
