@use "../globals" as g;

html {
  font-size: 62.5%;
}
// header ---------------
.main-header {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  padding: 2rem 0;
  .logo {
    @include g.header-01;
    z-index: 100;
    text-decoration: none;
    cursor: pointer;
    .logo-dot {
      color: var(--blue-4);
    }
  }
}
.logo-invert {
  color: var(--blue-1) !important;
  .logo-dot {
    color: var(--blue-4) !important;
  }
}

nav {
  position: absolute;
  width: 100%;
  height: auto;
  display: flex;
  bottom: 0;
  left: 0;
  padding: 4rem 0;
  justify-content: center;
  z-index: 100;
  .nav-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
    width: clamp(550px, 90%, 1000px);
    @include g.breakpoint-down(tablet) {
      width: clamp(300px, 95%, 1000px);
    }
    @include g.breakpoint-down(tablet) {
      display: none;
    }
    .nav-links {
      padding: 1rem 0.8rem;
      border-radius: 50vw;
      background-color: var(--white);
      display: flex;
      justify-content: space-evenly;
      gap: 2rem;
      box-shadow: 0px 0px 3px var(--grey-01);
      transition: all 150ms ease;
      @include g.breakpoint-down(tablet) {
        display: none;
      }
      li {
        list-style: none;
        @include g.breakpoint-down(tablet) {
          display: none;
        }
        .link {
          text-decoration: none;
          @include g.body-03;
          color: var(--darkgrey-01);
          position: relative;
          padding: 0.5rem 1rem;
          border-radius: 50vw;
          border: solid 1px transparent;
          transition: border 150ms ease;
          &:hover {
            border: solid 1px var(--accent);
          }
          .burger {
            width: 3rem;
            aspect-ratio: 1.8/1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;
            transition: all 250ms ease;
            z-index: 100;
            &:hover {
              transform: scale(1.1);
            }
            @include g.breakpoint-up(tablet) {
              display: none;
            }
            span {
              width: 100%;
              height: 3px;
              border-radius: 0.2rem;
              background-color: var(--darkgrey-01);
              transition: all 250ms ease;

              &.top-rotation {
                transform: rotate(225deg) translate(-4.6px, -4.6px);
              }
              &.bottom-rotation {
                transform: rotate(-225deg) translate(-4.6px, 4.6px);
              }
              &.fade {
                transform: translateX(-20px);
                opacity: 0;
              }
            }
          }
        }
      }
      .burger {
        width: 3rem;
        aspect-ratio: 1.8/1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        transition: all 250ms ease;
        z-index: 100;
        &:hover {
          transform: scale(1.1);
        }
        @include g.breakpoint-up(tablet) {
          display: none;
        }
        span {
          width: 100%;
          height: 3px;
          border-radius: 0.2rem;
          background-color: var(--darkgrey-01);
          transition: all 250ms ease;

          &.top-rotation {
            transform: rotate(225deg) translate(-4.6px, -4.6px);
          }
          &.bottom-rotation {
            transform: rotate(-225deg) translate(-4.6px, 4.6px);
          }
          &.fade {
            transform: translateX(-20px);
            opacity: 0;
          }
        }
      }
    }
  }
  // Nav burger menu
  .burger {
    position: absolute;
    bottom: 4rem;
    width: 4rem;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 50vw;
    background-color: var(--blue-4);

    cursor: pointer;
    transition: all 250ms ease;
    z-index: 100;
    &:hover {
      transform: scale(1.1);
    }
    @include g.breakpoint-up(tablet) {
      display: none;
    }
    span {
      width: 100%;
      height: 0.25rem;
      border-radius: 0.2rem;
      background-color: var(--darkgrey-01);
      transition: all 250ms ease;

      &.top-rotation {
        transform: rotate(225deg) translate(-3.5px, -3.5px);
      }
      &.bottom-rotation {
        transform: rotate(-225deg) translate(-3.5px, 3.5px);
      }
    }
  }
  .hidden-nav {
    position: absolute;
    left: 0;
    bottom: -500px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 32.1rem;
    padding: 4rem 0;
    box-shadow: 0px 0px 1px var(--grey-01);
    border-radius: 1rem 1rem 0 0;
    background-color: white;
    transition: all 150ms ease;
    z-index: 90;

    &.active {
      bottom: 0;
    }
    .nav-links-h {
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4rem;
      padding-bottom: 10rem;
      .link {
        text-decoration: none;
        @include g.sub-header-02;
        color: var(--grey-01);
        position: relative;
        transition: all 150ms ease;
        &::before {
          content: "[";
          position: absolute;
          top: 0;
          left: 50%;
          opacity: 0;
          color: var(--grey-00);
          transition: all 150ms ease;
        }
        &::after {
          content: "]";
          position: absolute;
          top: 0;
          right: 50%;
          opacity: 0;
          color: var(--grey-00);
          transition: all 150ms ease;
        }
        &:hover::before {
          left: -1.5rem;
          opacity: 1;
        }
        &:hover::after {
          right: -1.5rem;
          opacity: 1;
        }
        &:hover {
          color: var(--accent);
        }
      }
    }
    @include g.breakpoint-up(tablet) {
      display: none;
    }
  }
}

.nav-bg {
  position: absolute;
  top: 0;
  left: 100%;
  opacity: 0;
  z-index: 95;
  width: 100vw;
  height: 100vh;
  transition: opacity 350ms ease;
  background-color: rgba($color: #000000, $alpha: 0.6);
  backdrop-filter: blur(5px);
}
.bg-blur {
  left: 0;
  opacity: 1;
}
