// Color scheme ========================================
:root {
  --lightgrey-00: #f8f9fa;
  --lightgrey-01: #e9ecef;
  --lightgrey-02: #dee2e6;
  --lightgrey-03: #ced4da;
  --lightgrey-04: #adb5bd;

  --grey-00: #6c757d;
  --grey-01: #495057;

  --darkgrey-00: #343a40;
  --darkgrey-01: #212529;

  --accent: #b7410e;
}
